* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.todo {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo__content {
    border: 1px solid black;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    background: #00000010;
}
.todo__empty {
    padding: 20px 0;
    text-align: center;
}
.todo__title {
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}
.todo__form {
    display: flex;
    column-gap: 10px;
}
.todo__form .todo__input {
    width: 70%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.todo__form .todo__btn {
    height: 40px;
    width: 30%;
    background: #000;
    color: white;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
}
.todo__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 0;
}
.todo__item {
    display: flex;
    justify-content: space-between;
}
.todo__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo__footer-btns {
    display: flex;
    column-gap: 10px;
}
.status__btn {
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

h4{
    margin: 10px 0;
}

.todo__item-time {
    margin-right: 10px;
    color: white;
}